---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<div class="header">
  This is my header 
  <Navigation />
  <Hamburger />
</div>

<style>
  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
      }
</style>
